@page "/Security"
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView Context="AVContext">
    <h3>Hello @AVContext.User.Identity.Name</h3>

    <h5>Your security level is @AVContext.User.FindFirst(claim => claim.Type.Equals("Level")).Value</h5>
</AuthorizeView>


<p>This piece of text is visible for level 0 and above</p>
<AuthorizeView Policy="SecurityLevel2">
    <p>This piece of text is visible for level 2 and above</p>
</AuthorizeView>
<AuthorizeView Policy="SecurityLevel4">
    <p>This is visible for level 4 and above</p>
</AuthorizeView>

@code {

}