@page "/VIA"
@attribute [Authorize(Policy = "MustBeVIA")]

<h3>VIA</h3>
<p>This page can only be viewed, if your domain is VIA</p>

<img src="https://via.ritzau.dk/data/images/00819/ee299b6a-8573-4435-99d7-666fdebdba17-w_300_h_100.jpg" alt="VIA logo">

@code {
    
}