@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        <a class="navbar-brand" asp-page="/Index">
            <img class="img-fluid" src="/images/brand.png" alt="Fourth Coffee"/>
        </a>
        <NavLink href="about">
            About
        </NavLink>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>